<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand mb-0 h1" routerLink="/products">MyStore</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a routerLink="/products" class="nav-link" (click)="trigger('home')">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/cart" class="nav-link" (click)="trigger('cart')">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>